PORT=10000
ADMIN_USERNAME=cvtsforher
ADMIN_PASSWORD_SALT=01yWJ9iiAJgmQoxoqNIEKE8xB2ySTJl3
ADMIN_PASSWORD_HASH=$argon2id$v=19$m=19456,t=2,p=1$WUWddfUU6C6jUJcj7Av+Fw$xcpvWdDE8MSCMMjppQpVmbuM5lrLgYN7+FvgfkeLyN8
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1547123084430147584/9lujB1_WuAJOBg2LoTejFcCOtskR13iS-ZECgcjjUVr8BU6UB5Knp3Si946hFOrvPkcY
